*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-color: rgb(245, 245, 245);
}

header{
    background-color: white;
}

.container{
max-width: 1280px;
padding: 0 2%;
margin: 0 auto;
}

.clear{
    clear: both;
}

header > .container{
    display: flex;
}

.logo{
    width: 30%;
}

.logo img{
    max-width: 200px;
    width: 100%;
}

.search{
    width: 40%;
    text-align: center;
    padding-top: 20px;
}

.box{
    display: inline-block;
    position: relative;
}

.box input{
    background-color: rgb(245, 245, 245);
    padding: 5px 10px;
    width: 180px;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
}

.box i{
    position: absolute;
    left: 30px;
    top: 6px;
    opacity: 0.3;
}

.notifications{
    width: 30%;
    text-align: right;
    padding-top: 20px;
}

.notifications a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-right: 10px;
    display: inline-block;
    margin-right: 20px;
}

.notifications .miniatura{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 5px;
}

.wraper{
    float: left;
    width: 50%;
    padding: 0 50px;
}

.img{
    background-size: 100% 100%;
    width: 50%;
    padding-top: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.texto{
    float: left;
    width: 50%;
}

.nome span{
    font-size: 23px;
    font-weight: 300;
}

.nome a.btn{
    text-decoration: none;
    color: black;
    border: 1px solid #dbdbdb;
    padding: 4px 10px;
    margin: 0 8px;
}

.nome a > i{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.info p{
    display: inline-block;
    margin-right: 10px;
}

.descrição h3{
    font-size: 18px;
}

.descrição p{
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
}

section.feed{
    padding: 60px 0;
}

.line{
    border-top: 1px solid #ccc;
    text-align: center;
}

.marca{
    display: none;
    position: absolute;
    width: 110px;
    height: 1px;
    background-color: black;
    top: -10px;
}

.single{
    display: inline-block;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.publicacao{
    float: left;
    width: 33.3%;
    padding-top: 33.3%;
    background-size: 100% 100%;
    border: 4px solid white;
}

#igtv{
    display: none;
}

@media screen and (max-width:568px){
    .box{
        display: none;
    }

    .notifications{
        padding-top: 8px;
    }
}